.main__tree__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 90vh;
}

.left__container {
  width: 20%;
  background-color: rgb(230, 253, 246);
  border-right: 1px solid rgb(191, 189, 189);
}
.right__container {
  width: 80%;
}
.leftSourceColumn {
  height: 30%;
  overflow-y: auto;
}
.line {
  color: bisque !important;
  /* display: ; */
  width: fit-content;
  width: 20px;
}
.rightSourceColumn {
  width: 30%;
  height: 30px;
  overflow-y: auto;
  background-color: bisque;
  display: flex;
  flex-direction: row;
}
